* {
    margin: 0;
    padding: 0;
}

h2 {
    font-family: 'SegoeUI-SemiBold-final', 'Segoe UI Semibold', 'SegoeUI-Regular-final', 'Segoe UI', 'Segoe', -apple-system, 'BlinkMacSystemFont', 'Roboto', 'Helvetica Neue', 'Tahoma', 'Helvetica', 'Arial', sans-serif;
}

body {
    overflow: hidden;
    background-color: #fff;
    border-radius: 8px;
    padding: 8px;
    max-width: 18rem;
	min-width: 16rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

sup {
    vertical-align: super;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#numberofemailcolorInput,
#customBackgroundInput {
    width: 60px;
    height: 12px;
}

#numberofemailtypecolorInput {
    width: 60px;
    height: 16px;
}

.topButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topButtonsCalendar,
.topButtonsOutlook {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
}

.svgCalendar,
.svgOutlook {
    margin-left: 5px;
}

/* Getcssscan.com inspired button */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #50D9FF 0, #0078D4 100%);
    border-radius: 5px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 48px;
    width: 100%;
    justify-content: center;
    line-height: 1;
    overflow: hidden;
    transition: box-shadow .20s,transform .20s;
    margin: 8px 2px;
}

.button-29:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    /* transform: translateY(-1px); */
}

.button-29:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(1px);
}

.numberofemailtypecolorInput {
    margin-left: 1px;
    width: 30px;
    height: 12px;
    background-color: #000;
    border: 2px solid grey;
    border-radius: 2px;
}

.github:hover {
    color: rgb(21, 45, 60);
}

.rating:hover {
    color: rgb(235, 235, 0);
}

.rating:hover::before,
.github:hover::before{
    position: absolute;
    font-family: "Font Awesome 6 Free";
    font-weight: bold;
    font-size: 16px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.rating:hover::before{
    content: "\f5c0";
}

.github:hover::before{
    color: transparent;
    content: "\f111";
}

.icon {
    width: fit-content;
}

.labels {
    display: flex;
    flex-direction: column;
}

.ad,
.extra {
    user-select: none;
    display: flex;
    align-items: center;
}

.ad span,
.extra span {
    margin-left: 6px;
    margin-right: 6px;
}

.ads,
.extras {
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #bbb;
    transition: border 0.4s ease-in-out;
}

.ads:hover,
.extras:hover {
    border: 1px solid #0078D4;
    transition: border 0.4s ease-in-out;
}

.extVersion{
    font-family: Arial;
    font-size: 10px;
}

.linkNewVersion {
    margin-top: 8px;
    font-family: roboto;
    display: flex;
    padding: 15px 0px;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 4px;
    outline: 0;
    background-color: #FF4742;
    border: 1px solid #FF4742;
    box-sizing: border-box;
    color: white;
}

.linkNewVersion:hover,
.linkNewVersion:active {
  background-color: initial;
  background-position: 0 0;
  border: 1px solid #FF4742;
  color: #FF4742;
}

.linkNewVersion:active {
    opacity: .5;
}

/* Shiny Effet on title */
@keyframes shiny {
    0% {
        background-position: -100% 0;
    }
    100% {
        background-position: 100% 0;
    }
}

.titlePopup {
    background: linear-gradient(90deg, rgba(20, 144, 223), rgba(40, 168, 234), #161d1f, rgba(40, 168, 234), rgba(20, 144, 223));
    background-size: 200% 100%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shiny 5s linear infinite;
    font-size: 24px;
    font-weight: bold;
}
